/node_modules
/packages/client/node_modules
/packages/extension/node_modules
/packages/server/node_modules
/packages/extension/vue-dist
/packages/extension/server-dist
/packages/client/dist
/packages/extension/dist
/packages/server/dist
/packages/server/cached/
/packages/server/local/
/packages/server/**.json

*.db

*~
*.un~
*.swp

